*{
    padding: 0px;
    margin: 0px;
}

.nav{

    padding: 10px;
  
    background-color: #f0f8ff;
    align-items: center;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.container {
    margin-top: 20px;
    padding: 0 15px; /* Adds padding to prevent the content from touching the edges */
}

.row {
    display: flex;
    flex-wrap: wrap; /* Allows the columns to wrap on smaller screens */
}

.col-4 {
    flex: 0 0 33.33%; /* Makes columns take 1/3 of the width on larger screens */
    padding: 15px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
}

.img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

select {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin-left: 5px;
}

/* Media query for tablets and mobile devices */
@media (max-width: 768px) {
    .col-4 {
        flex: 0 0 50%; /* On medium devices, columns take half of the width */
    }

    .nav {
        flex-direction: column; /* Stack search bar and filter vertically */
        align-items: flex-start;
    }

    input[type="text"] {
        width: 100%; /* Full width input */
        margin-top: 10px;
    }
}

